<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @visit_template.name %>
</p>

<%= link_to 'Edit', edit_visit_template_path(@visit_template) %> |
<%= link_to 'Back', visit_templates_path %>
