<div style="text-align: center;">
  <h1>Editing Terminology</h1>
  <%= render 'form', terminology: @terminology %>
  <%= link_to 'Show', @terminology %> |
  <%= link_to 'Back', terminologies_path %>
</div>