<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fee_schedule.name %>
</p>

<%= link_to 'Edit', edit_fee_schedule_path(@fee_schedule) %> |
<%= link_to 'Back', fee_schedules_path %>
